body {
    font-family: sans-serif;
    color: #222;
    background: #414141;
}

.pager a {
    text-decoration: underline;
    cursor: pointer;
}

/* ------------------------------new nav-----------------------------------*/
button.accordion {
    background-color: #333333;
    color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 97%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.3s;
    margin-bottom: 5px;
}

    button.accordion.active {
        background-color: #666666;
        color: black;
        margin-bottom: 0;
    }

    button.accordion:hover {
        background-color: #999999;
    }

    button.accordion:after {
        content: '\02795';
        font-size: 13px;
        color: #666666;
        float: right;
        margin-left: 5px;
    }

    button.accordion.active:after {
        content: "\2796";
    }

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.1s ease-out;
    opacity: 0;
}

    div.panel.show {
        opacity: 1;
        max-height: 500px;
        min-height: 100px;
        padding: 5px;
        width: 203px;
    }

        div.panel.show a {
            cursor: pointer;
            display: block;
            padding: 5px;
        }

            div.panel.show a:hover {
                background-color: #999999;
            }

/*------------------------------------------------tabs----------------------------------------------------------*/
.tab-content {
    display: none;
    background-color: white;
    padding: 5px;
    padding-top: 15px;
    min-height: 92vh;
}

    .tab-content :active {
    }

    .tab-content:first-child {
    }

.tab-folder > .tab-content:target ~ .tab-content:last-child, .tab-folder > .tab-content {
    display: none;
}

    .tab-folder > :last-child, .tab-folder > .tab-content:target {
        display: block;
    }

.tab-links:after {
    display: block;
    clear: both;
    content: '';
}

.tab-links li {
    margin: 0px 1px;
    float: left;
    list-style: none;
}

.tab-links {
    -webkit-padding-start: 5px;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 0px;
    margin-top: 10px;
}

    .tab-links div {
        padding: 9px 15px;
        display: inline-block;
        border-radius: 5px 5px 0px 0px;
        background: #333333;
        font-size: 16px;
        font-weight: 600;
        color: #999999;
        transition: all linear 0.15s;
        cursor: pointer;
    }

        .tab-links div #close {
            margin-left: 10px;
            padding: 2px;
        }

            .tab-links div #close:hover {
                background: red;
                color: white;
                text-align: center;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                border-radius: 15px;
                -moz-box-shadow: 1px 1px 3px #000;
                -webkit-box-shadow: 1px 1px 3px #000;
                box-shadow: 1px 1px 3px #000;
            }

        .tab-links div:hover {
            background: white;
            text-decoration: none;
        }

li.active div, li.active {
    background: white;
    border-radius: 5px 5px 0px 0px;
    border: 1px;
    color: #333;
}


/*----------------------------------------------------container-------------------------------------------------------*/
.Container {
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

    .Left::-webkit-scrollbar,
    .Middle::-webkit-scrollbar,
    .Right::-webkit-scrollbar {
        display: none;
    }

.Left {
    width: 220px;
    float: left;
}

.Middle {
}

.Right {
    width: 12.5rem;
}



/*---------------------------------------------------------------------------------------------------*/
.cssTbl {
    margin: 0px;
    padding: 3px;
    font-family: Arial;
    font-weight: normal;
}

    .cssTbl table {
        border-spacing: 0;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .cssTbl th {
        background-color: #333333;
        padding: 5px;
    }

        .cssTbl th a {
            font-weight: normal;
            color: white;
            text-decoration: none;
            cursor: pointer;
        }

            .cssTbl th a:hover {
                color: red;
            }

    .cssTbl tr:nth-child(odd) {
        background-color: #c0c0c0;
    }

    .cssTbl tr:nth-child(even) {
        background-color: #ffffff;
    }

    .cssTbl td {
        vertical-align: middle;
        border: 1px solid #666666;
        text-align: left;
        padding: 5px;
        color: #000000;
    }


/*------------------------------------------modal--------------------------------------------*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalDialog:target {
        opacity: 1;
        pointer-events: auto;
    }

    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }

.close {
    background: #606060;
    color: white;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

    .close:hover {
        background: red;
    }

/*-------------------------- system info -----------------------------------*/
.LogArea {
    border-style: solid;
    border-color: gray;
    background-color: #e0e0e0;
    padding: 5px;
}

.LogItems {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    font-size: smaller;
}

/*---------------------------------------------------------------------*/
.JSONArea {
    border-style: solid;
    border-color: gray;
    background-color: white;
    padding: 5px;
    min-height: 500px;
}

.JSON {
    font-family: "Courier New", monospace;
    white-space: pre-wrap;
    font-size: smaller;
}

/*---------------------------------------------------------------------*/
.ListBox {
    border-style: solid;
    border-color: gray;
    background-color: white;
    padding: 5px;
    height: 500px;
    overflow: scroll;
}

    .ListBox a {
        display: block;
        padding: 2px;
    }

        .ListBox a:hover {
            background-color: #c0c0c0;
        }

/***********************************************************************/
.schema_def table {
    border-style: solid;
}

.schema_def th {
    background-color: #cccccc;
}

.schema_def td:nth-child(odd) {
    font-weight: bold;
    text-align: right;
}

.schema_def td:nth-child(even) {
    color: green;
}
